---
---

@import "minima";

// Your overrides go here, after the import
.site-header {
  border-top: none;
  background-color: #ffffff;
}

.site-title, .site-title:visited {
  color: #ffffff;
}

.post-content {
  font-size: 19px;
  line-height: 1.7;
}
